.container.mb-4
  .card.col-lg-6.col-md-10.col-sm-12.m-auto
    .card-body
      %h2 Sign up
      .col-10.m-auto.pb-3
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .mb-4
            = f.label :"Name"
            %br/
            = f.text_field :name, autofocus: true, class: "form-control col m-auto"
          .mb-4
            = f.label :"Email"
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col m-auto"
          .mb-4
            = f.label :"Password"
            - if @minimum_password_length
              %em
                (more than #{@minimum_password_length} characters)
            %br/
            = f.password_field :password, autocomplete: "new-password", class: "form-control col m-auto"
          .mb-4
            = f.label :"Password(confirmation)"
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col m-auto"
          .actions
            = f.submit  class: "btn btn-primary col-6 m-auto"
        = render "devise/shared/links"
