.container
  .row.mx-auto
    .col-12
      %h3.mb-3
        Your Jeans
      %p
        = link_to "Add New Jeans ➡︎", my_page_new_jeans_path
      .row
        - @user_jeans.each do |j|
          .col-3
            %ul.list-unstyled
              %li
                - if j.jeans_image.present?
                  = link_to my_jeans_path(j) do
                    = image_tag j.jeans_image.url, size: "200x230", class: "ml-auto shadow-lg mb-2 bg-white rounded"
                - else
                  = image_tag 'no_jeans.jpg', id: :img_prev, size: "200x230", class: "shadow-lg mb-2 bg-white rounded"
                .flex-column
                  %strong
                    = j.name
                  .mb-3
                    = j.brand.name
                    = j.lot.number if j.lot_id.present?
                    = j.year.date_of_birth if j.year_id.present?
                  - date =  (@today - j.date_of_purchase).to_i
                  .small
                    ・You have been wearing this for
                    %span.font-weight-bold
                      #{date}
                    days!
                  .small
                    - if j.number_of_laundry == 0
                      ・You have not washed this jeans yet!!
                    - elsif j.number_of_laundry.nil?
                      ・You have not washed this jeans yet!!
                    - else
                      ・You washed this
                      %span.font-weight-bold
                        #{j.number_of_laundry}
                      times!

