.container-fluid
  .row
    .col-12
      .d-flex.flex-wrap
        - @posts.each do |post|
          .col-3
            .card.border-0.shadow.m-2.bg-light
              = link_to post_path(post), class: "text-decoration-none m-auto" do
                = image_tag post.image.url, size: "200x300", class: "object-fit"
            .d-flex
              = image_tag post.user.image.url, size: "30x30", class: "rounded-circle object-fit"
              %strong.ml-3
                = post.user.name

    .col-12
      .d-flex
        %i.fas.fa-trophy.pt-5.pl-5.text-warning.fa-trophy_icon
        %h1.p-5
          This weeks winners
          %span
            %h3
              (Last 7 days)
      .d-flex
        - @winners.each do |winner|
          .d-flex.flex-column.pr-3
            %p
              %i.fas.fa-crown.text-warning
              = winner.award_id
            - jeans =  Jeans.find_by(id: winner.jeans_id)
            = link_to user_jeans_index_path(user_id: jeans.user_id), class: "text-decoration-none" do
              = image_tag jeans.jeans_image.url, class: "award-jeans-image_logged_in rounded"
            %p.text-right.small
              = jeans.created_at.strftime("%Y-%m-%d %H:%M")

