= form_with model: Hello.new, url: hellos_path, method: :post, local: :true do |f|
  = f.label :title
  = f.text_field :title
  = f.label :intoduction
  = f.text_field :introduction
  = f.submit
.d-flex
  - @hellos.each do |hello|
    = hello.title
    = hello.introduction
